.dashboard-container100 {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(
    135deg,
    rgb(250, 250, 250) 1%,
    rgb(214, 214, 214) 100%
  );
}
.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.logout-popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.logout-popup-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.logout-popup-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ff914d;
  color: white;
  font-weight: bold;
}

.logout-popup-buttons button:last-child {
  background-color: #ccc;
  color: black;
}
.payment-button {
  background-color: #ff914d;
  padding: 6px 20px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.google-style-clean-card {
  padding: 10px 20px;
  background: white;
  border-radius: 0.5rem;
  width: 100%;
}
.uc-text {
  margin-left: -78%;
}
.uc {
  font-size: 12px;
  margin-top: 4px;
  background-color: rgba(2, 255, 2, 0.353);
  padding: 2px 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.uc-date {
  font-size: 12px;
  color: green;
  margin-top: 3px;
}
.uc-border {
  background-color: green;
  height: 18px;
  width: 7px;
  border-radius: 50px;
}
.submenu {
  display: flex;
  flex: 1;
  /* background-color: #00A106; */
  /* border: red 1px solid; */
  align-items: center;
  justify-content: center;
  width: 20%;
}

.dashboard-container101 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 15%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  border-color: #b9b9b9;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.dashboard-image10 {
  width: 130px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
.dashboard-container102 {
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text100 {
  fill: #9c9c9c;
  color: #9c9c9c;
  font-size: 14px;
}
.dashboard-container103 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-image11 {
  width: 19px;
  object-fit: cover;
}
.dashboard-text101 {
  fill: #9c9c9c;
  color: #ff914d;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-navlink10 {
  display: contents;
}
.dashboard-container104 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image12 {
  width: 19px;
  object-fit: cover;
}
.dashboard-text102 {
  fill: #1f3042;
  color: #1f3042;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-navlink11 {
  display: contents;
}
.dashboard-container105 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image13 {
  width: 19px;
  object-fit: cover;
}
.dashboard-text103 {
  fill: #1f3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-navlink12 {
  display: contents;
}
.dashboard-container106 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image14 {
  width: 19px;
  object-fit: cover;
}
.dashboard-text104 {
  fill: #1f3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-navlink13 {
  display: contents;
}
.dashboard-container107 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image15 {
  width: 19px;
  object-fit: cover;
}
.dashboard-text105 {
  fill: #1f3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container108 {
  left: 32px;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.dashboard-text106 {
  fill: #9c9c9c;
  color: rgb(156, 156, 156);
  font-size: 10px;
}
.dashboard-navlink14 {
  display: contents;
}
.dashboard-container109 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image16 {
  width: 21px;
  object-fit: cover;
}
.dashboard-text107 {
  fill: #1f3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container110 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-image17 {
  width: 21px;
  object-fit: cover;
}
.dashboard-text108 {
  fill: #ff0000;
  color: #ff0000;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container111 {
  top: 0px;
  flex: 2;
  right: 0px;
  width: 85%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container112 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.dashboard-text109 {
  fill: #1f3042;
  color: #1f3042;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.book-details {
  color: gray;
}
.dashboard-image18 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}

.dashboard-image19 {
  width: 25px;
  z-index: 10;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.dashboard-text110 {
  fill: #989898;
  color: #989898;
  z-index: 10;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.dashboard-textinput {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  border-width: 0px;
  border-radius: 25px;
}
.dashboard-container115 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: center;
  background-color: #ff914d;
}
.dashboard-text111 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-navlink15 {
  display: contents;
}
.dashboard-image20 {
  width: 200px;
  display: none;
  object-fit: cover;
  text-decoration: none;
}
.dashboard-container116 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.dashboard-container117 {
  flex: 0 0 auto;
  width: 65%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container118 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.dashboard-container119 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text112 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-text113 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 11px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container120 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-button1 {
  fill: #ff0000;
  color: #ff0000;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 12px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 12px;
  background-color: rgba(255, 0, 0, 0.16);
}
.dashboard-button2 {
  fill: #ff914d;
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 12px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 12px;
  background-color: rgb(255, 226, 208);
}
.dashboard-text116 {
  fill: #565656;
  color: #565656;
  display: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-text117 {
  fill: #565656;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container121 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-radius: 12px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border: 2px solid #565656;
}
.dashboard-container123 {
  width: 96%;
  display: flex;
  background-color: rgba(250, 250, 250, 0);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.dashboard-container124 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-container125 {
  width: 157px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container126 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-image21 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dashboard-container127 {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.dashboard-container128 {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-color: #00a106;
}
.dashboard-text119 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 500;
}
.dashboard-container129 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text120 {
  fill: #565656;
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-text121 {
  fill: #b6b6b6;
  color: rgb(182, 182, 182);
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-image22 {
  width: 20px;
  object-fit: cover;
}
.dashboard-container130 {
  width: 96%;
  display: flex;
  background: rgba(250, 250, 250, 0);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.dashboard-container131 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-container132 {
  width: 157px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container133 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-image23 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dashboard-container134 {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.dashboard-container135 {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-color: #00a106;
}
.dashboard-text125 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-container136 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text126 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-text127 {
  fill: #b6b6b6;
  color: rgb(182, 182, 182);
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-image24 {
  width: 20px;
  object-fit: cover;
}
.dashboard-container137 {
  width: 96%;
  display: flex;
  background: rgba(250, 250, 250, 0);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.dashboard-container138 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-container139 {
  width: 157px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container140 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-image25 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dashboard-container141 {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.dashboard-container142 {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-color: #00a106;
}
.dashboard-text131 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-container143 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text132 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-text133 {
  fill: #b6b6b6;
  color: rgb(182, 182, 182);
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-image26 {
  width: 20px;
  object-fit: cover;
}
.dashboard-container144 {
  width: 96%;
  display: flex;
  background: rgba(250, 250, 250, 0);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.dashboard-container145 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-container146 {
  width: 157px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container147 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-image27 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dashboard-container148 {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.dashboard-container149 {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-color: #00a106;
}
.dashboard-text137 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-container150 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text138 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-text139 {
  fill: #b6b6b6;
  color: rgb(182, 182, 182);
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-image28 {
  width: 20px;
  object-fit: cover;
}
.dashboard-container151 {
  width: 96%;
  display: flex;
  background: rgba(250, 250, 250, 0);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.dashboard-container152 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-container153 {
  width: 157px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container154 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-image29 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dashboard-container155 {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.dashboard-container156 {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-color: #00a106;
}
.dashboard-text143 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-container157 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text144 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-text145 {
  fill: #b6b6b6;
  color: rgb(182, 182, 182);
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-image30 {
  width: 20px;
  object-fit: cover;
}
.dashboard-container158 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.dashboard-text149 {
  fill: #ff914d;
  color: #ff914d;
  cursor: pointer;
  font-size: 10px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: right;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-container159 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-self: flex-start;
  margin-top: 0px;
  border-radius: 12px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text150 {
  fill: #565656;
  color: rgb(86, 86, 86);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.dashboard-container160 {
  border: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 12px;
}
.dashboard-container161 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 85px;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: rgb(244, 204, 180);
}
.dashboard-text153 {
  display: flex;
  width: 100%;
  color: rgb(255, 145, 77);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-text154 {
  color: rgb(255, 145, 77);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-container162 {
  width: 33%;
  height: auto;
  display: none;
  align-items: center;
  margin-left: 1%;
  padding-top: var(--dl-space-space-unit);
  margin-right: 1%;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #ffe2d0;
}
.dashboard-text155 {
  fill: #ff914d;
  color: #ff914d;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text156 {
  fill: #ff914d;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text158 {
  color: rgb(86, 86, 86);
  width: 100%;
  display: none;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-text159 {
  color: rgb(86, 86, 86);
  width: 100%;
  display: none;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-text160 {
  width: 100%;
  display: none;
  margin-left: 1%;
  margin-right: 1%;
}
.dashboard-container163 {
  flex: 0 0 auto;
  width: 34%;
  height: auto;
  display: flex;
  margin-left: 1%;
  flex-direction: column;
}
.dashboard-text162 {
  color: rgb(86, 86, 86);
  width: 100%;
  display: none;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-container164 {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.dashboard-text163 {
  color: rgb(86, 86, 86);
  width: auto;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-container165 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  overflow: auto;
  align-items: flex-start;
  /* border-radius: 10px; */
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.dashboard-container166 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container167 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container168 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text164 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text165 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text166 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text168 {
  color: #b5b5b5;
}
.dashboard-container169 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container170 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container171 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text169 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text170 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text171 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text173 {
  color: #b5b5b5;
}
.dashboard-container172 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container173 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container174 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text174 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text175 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text176 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text178 {
  color: #b5b5b5;
}
.dashboard-container175 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container176 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container177 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text179 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text180 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text181 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text183 {
  color: #b5b5b5;
}
.dashboard-container178 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container179 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container180 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text184 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text185 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text186 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text188 {
  color: #b5b5b5;
}
.dashboard-text189 {
  color: rgb(86, 86, 86);
  width: 100%;
  display: none;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-container181 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.dashboard-container182 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.dashboard-container183 {
  width: 100%;
  height: 90px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-text190 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-text191 {
  fill: #ff914d;
  color: #ff914d;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-container184 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container185 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container186 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text192 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text193 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text194 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text196 {
  color: #b5b5b5;
}
.dashboard-container187 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container188 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container189 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text197 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text198 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text199 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text201 {
  color: #b5b5b5;
}
.dashboard-container190 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #d2d2d2;
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container191 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #ffdec9;
}
.dashboard-container192 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text202 {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text203 {
  color: rgb(255, 145, 77);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-text204 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.dashboard-text206 {
  color: #b5b5b5;
}
.dashboard-text207 {
  color: rgb(86, 86, 86);
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-container193 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.dashboard-container194 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.dashboard-text208 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}
.dashboard-text209 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-text210 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-container195 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0%;
  padding-right: 0%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.dashboard-container196 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-container197 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ffdec9;
}
.dashboard-text211 {
  color: rgb(86, 86, 86);
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.dashboard-text212 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.dashboard-text213 {
  color: var(--dl-color-gray-black);
  font-weight: 600;
}
.dashboard-text214 {
  font-style: normal;
}
.dashboard-text215 {
  font-size: 7px;
  font-style: normal;
}
.dashboard-container198 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-container199 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ffdec9;
}
.dashboard-text216 {
  color: rgb(86, 86, 86);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-text217 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.dashboard-text218 {
  font-style: normal;
  font-weight: 600;
}
.dashboard-text219 {
  font-style: normal;
}
.dashboard-text220 {
  font-size: 7px;
}
.dashboard-container200 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  cursor: pointer;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 5%;
  border-radius: 5px;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #ffe2d0;
}
.dashboard-text221 {
  color: rgb(255, 145, 77);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-image31 {
  width: 8px;
  object-fit: cover;
}
.dashboard-container201 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 10vh;
  display: none;
  position: fixed;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container202 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image32 {
  height: 50%;
  object-fit: cover;
}
.dashboard-text222 {
  text-align: center;
}
.dashboard-container203 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image33 {
  height: 50%;
  object-fit: cover;
}
.dashboard-text223 {
  text-align: center;
}
.dashboard-container204 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image34 {
  height: 50%;
  object-fit: cover;
}
.dashboard-text224 {
  text-align: center;
}
.dashboard-container205 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image35 {
  height: 50%;
  object-fit: cover;
}
.dashboard-text225 {
  text-align: center;
}
.dashboard-container206 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.dashboard-image36 {
  height: 50%;
  object-fit: cover;
}
.dashboard-text226 {
  text-align: center;
}
.dashboard-container207 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 10vh;
  display: none;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .dashboard-container114 {
    width: 90%;
  }
  .dashboard-button1 {
    font-size: 7px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dashboard-button2 {
    font-size: 7px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dashboard-text116 {
    font-size: 11px;
  }
  .dashboard-text117 {
    font-size: 11px;
  }
  .dashboard-container161 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .dashboard-container101 {
    padding-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text153 {
    font-size: 12px;
  }
  .dashboard-text154 {
    font-size: 12px;
  }
  .dashboard-container164 {
    height: 400px;
    display: flex;
  }
  .dashboard-container165 {
    height: 300px;
  }
  .dashboard-container181 {
    display: none;
  }
  .dashboard-text207 {
    color: rgb(86, 86, 86);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
@media (max-width: 991px) {
  .dashboard-container100 {
    position: relative;
    flex-direction: column;
  }
  .dashboard-container101 {
    display: none;
    padding-left: var(--dl-space-space-halfunit);
  }
  .dashboard-container111 {
    width: 100%;
    position: static;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-container113 {
    display: none;
  }
  .dashboard-container115 {
    display: none;
  }
  .dashboard-image20 {
    width: 20px;
    display: flex;
  }
  .dashboard-container116 {
    flex-direction: column;
  }
  .dashboard-container117 {
    width: 100%;
  }
  .dashboard-container118 {
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .dashboard-container119 {
    width: 90%;
    align-self: center;
  }
  .dashboard-text112 {
    margin-left: 0px;
  }
  .dashboard-text113 {
    margin-left: 0%;
  }
  .dashboard-container120 {
    width: 100%;
    height: 82px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .dashboard-button1 {
    width: 48%;
    height: 32px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .dashboard-button2 {
    width: 48%;
    height: 32px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .dashboard-text116 {
    color: rgb(86, 86, 86);
    font-size: 10px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .dashboard-text117 {
    align-self: flex-start;
    margin-left: 0px;
  }
  .dashboard-container121 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-container122 {
    height: 345px;
  }
  .dashboard-text149 {
    fill: #adadad;
    color: #adadad;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .dashboard-container159 {
    display: none;
  }
  .dashboard-container160 {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-container161 {
    width: 100%;
    height: 32px;
    display: none;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .dashboard-text153 {
    margin-bottom: 0px;
  }
  .dashboard-text154 {
    margin-bottom: 0px;
  }
  .dashboard-container162 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 500px;
  }
  .dashboard-text155 {
    color: rgb(255, 145, 77);
    margin-bottom: 0px;
  }
  .dashboard-text156 {
    margin-bottom: 0px;
  }
  .dashboard-text158 {
    display: none;
  }
  .dashboard-text159 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .dashboard-text160 {
    display: flex;
  }
  .dashboard-container163 {
    width: 100%;
    margin-left: 0%;
    flex-direction: column;
  }
  .dashboard-text162 {
    color: rgb(86, 86, 86);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-container164 {
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .dashboard-text163 {
    color: rgb(86, 86, 86);
    display: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-container165 {
    height: 350px;
    justify-content: flex-start;
  }
  .dashboard-container166 {
    margin-top: var(--dl-space-space-unit);
  }
  .dashboard-text189 {
    color: rgb(86, 86, 86);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-container181 {
    display: none;
    margin-top: var(--dl-space-space-twounits);
  }
  .dashboard-container195 {
    justify-content: space-between;
  }
  .dashboard-container198 {
    margin-left: var(--dl-space-space-unit);
  }
  .dashboard-container200 {
    border-radius: 500px;
  }
  .dashboard-container201 {
    height: 12vh;
    display: flex;
    align-items: center;
    /* padding-top: var(--dl-space-space-halfunit); */
    border-color: #d2d2d2;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    /* padding-bottom: var(--dl-space-space-twounits); */
    justify-content: center;
    background-color: #f0f0f0;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .dashboard-container202 {
    width: 20%;
    justify-content: center;
  }
  .dashboard-image32 {
    height: 45%;
  }
  .dashboard-text222 {
    font-size: 14px;
  }
  .dashboard-container203 {
    width: 20%;
    justify-content: center;
  }
  .dashboard-image33 {
    height: 45%;
  }
  .dashboard-text223 {
    font-size: 14px;
  }
  .dashboard-container204 {
    width: 100%;
    justify-content: center;
  }
  .dashboard-image34 {
    height: 45%;
  }
  .dashboard-text224 {
    font-size: 14px;
  }
  .dashboard-container205 {
    width: 20%;
    justify-content: center;
  }
  .dashboard-image35 {
    height: 45%;
  }
  .dashboard-text225 {
    font-size: 14px;
  }
  .dashboard-container206 {
    width: 20%;
    justify-content: center;
  }
  .dashboard-image36 {
    height: 45%;
  }
  .dashboard-text226 {
    font-size: 14px;
  }
  .dashboard-container207 {
    flex: 0 0 auto;
    height: 15vh;
    display: flex;
    position: static;
    align-items: center;
    border-color: #d2d2d2;
    border-style: hidden;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
}
@media (max-width: 767px) {
  .dashboard-container165 {
    height: 350px;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .dashboard-container166 {
    margin-top: 0px;
  }
  .dashboard-image32 {
    height: 30%;
  }
  .dashboard-text222 {
    font-size: 8px;
  }
  .dashboard-image33 {
    height: 30%;
  }
  .dashboard-text223 {
    font-size: 8px;
  }
  .dashboard-image34 {
    height: 30%;
  }
  .dashboard-text224 {
    font-size: 8px;
  }
  .dashboard-image35 {
    height: 30%;
  }
  .dashboard-text225 {
    font-size: 8px;
  }
  .dashboard-image36 {
    height: 30%;
  }
  .dashboard-text226 {
    font-size: 8px;
  }
  .dashboard-container207 {
    border-style: hidden;
    border-width: 0px;
    border-top-width: 0px;
  }
}
@media (max-width: 479px) {
  .dashboard-container100 {
    flex-direction: column;
  }
  .dashboard-container111 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .dashboard-container118 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-container119 {
    margin-top: var(--dl-space-space-unit);
  }
  .dashboard-container120 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-container121 {
    border-width: 2px;
  }
  .dashboard-container122 {
    width: 100%;
  }
  .dashboard-container123 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container125 {
    width: 40%;
    height: 70px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .dashboard-image21 {
    width: 10px;
    height: 10px;
  }
  .dashboard-container127 {
    width: 12px;
    height: 12px;
    flex-direction: column;
  }
  .dashboard-container128 {
    width: 8px;
    height: 8px;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
  }
  .dashboard-text119 {
    font-size: 6px;
  }
  .dashboard-container129 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text120 {
    font-size: 10px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text121 {
    font-size: 6px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-image22 {
    width: 10px;
  }
  .dashboard-container130 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container132 {
    width: 40%;
    height: 70px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-image23 {
    width: 10px;
    height: 10px;
  }
  .dashboard-container134 {
    width: 12px;
    height: 12px;
  }
  .dashboard-container135 {
    width: 8px;
    height: 8px;
  }
  .dashboard-text125 {
    font-size: 6px;
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-container136 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text126 {
    font-size: 10px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text127 {
    font-size: 6px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-image24 {
    width: 10px;
  }
  .dashboard-container137 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container139 {
    width: 40%;
    height: 70px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-image25 {
    width: 10px;
    height: 10px;
  }
  .dashboard-container141 {
    width: 12px;
    height: 12px;
  }
  .dashboard-container142 {
    width: 8px;
    height: 8px;
  }
  .dashboard-text131 {
    font-size: 6px;
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-container143 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text132 {
    font-size: 10px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text133 {
    font-size: 6px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-image26 {
    width: 10px;
  }
  .dashboard-container144 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container146 {
    width: 40%;
    height: 70px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-image27 {
    width: 10px;
    height: 10px;
  }
  .dashboard-container148 {
    width: 12px;
    height: 12px;
  }
  .dashboard-container149 {
    width: 8px;
    height: 8px;
  }
  .dashboard-text137 {
    font-size: 6px;
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-container150 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text138 {
    font-size: 10px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text139 {
    font-size: 6px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-image28 {
    width: 10px;
  }
  .dashboard-container151 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container153 {
    width: 40%;
    height: 70px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dashboard-image29 {
    width: 10px;
    height: 10px;
  }
  .dashboard-container155 {
    width: 12px;
    height: 12px;
  }
  .dashboard-container156 {
    width: 8px;
    height: 8px;
  }
  .dashboard-text143 {
    font-size: 6px;
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-container157 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text144 {
    font-size: 10px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-text145 {
    font-size: 6px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .dashboard-image30 {
    width: 10px;
  }
  .dashboard-container164 {
    height: auto;
  }
  .dashboard-container165 {
    width: 97%;
    height: 240px;
    align-self: center;
  }
  .dashboard-container166 {
    width: 98%;
    margin-top: 0px;
  }
  .dashboard-container169 {
    width: 98%;
  }
  .dashboard-container172 {
    width: 98%;
  }
  .dashboard-container175 {
    width: 98%;
  }
  .dashboard-container178 {
    width: 98%;
  }
  .dashboard-container201 {
    height: 6vh;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #f0f0f0;
  }
  .dashboard-container202 {
    height: 50px;
  }
  .dashboard-image32 {
    height: 20%;
  }
  .dashboard-text222 {
    font-size: 6px;
  }
  .dashboard-container203 {
    height: 50px;
  }
  .dashboard-image33 {
    height: 20%;
  }
  .dashboard-text223 {
    font-size: 6px;
  }
  .dashboard-container204 {
    height: 50px;
  }
  .dashboard-image34 {
    height: 20%;
  }
  .dashboard-text224 {
    font-size: 6px;
  }
  .dashboard-container205 {
    height: 50px;
  }
  .dashboard-image35 {
    height: 20%;
  }
  .dashboard-text225 {
    font-size: 6px;
  }
  .dashboard-container206 {
    height: 50px;
  }
  .dashboard-image36 {
    height: 20%;
  }
  .dashboard-text226 {
    font-size: 6px;
  }
  .dashboard-container207 {
    height: 8vh;
  }
}
