.home1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-container01 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
} 
.home1-container02 {
  width: 1076px;
  height: 101px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #D9D9D9;
}
.home1-container03 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home1-container04 {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
  /* padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits); */
  flex-direction: row;
  padding-bottom: 200px;
  justify-content: space-between;
}
.home1-container05 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home1-navlink {
  color: #ffffff;
  /* width: 162px; */
  border-width: 0px;
  padding-top: 12px;
  text-align: center;
  padding-left: 40px;
  margin-top: 20px;
  padding-right: 40px;
  padding-bottom: 12px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #ff914d;
}
.home1-text01 {
  width: auto;
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.home1-text03 {
  color: #ff914d;
}
.home1-text04 {
  color: #ff914d;
}
.home1-text05 {
  color: #ff914d;
}
.home1-text06 {
  color: #ffff99;
}
.home1-text10 {
  color: rgb(143, 143, 143);
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  width: 95%;
}
.home1-image {
  width: 45%;
  height: auto;
  object-fit: cover;
}
.home1-container06 {
  left: 0px;
  right: 0px;
  width: 90%;
  bottom: -101px;
  height: 197px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  box-shadow: 5px 0px 20px 0px rgba(109, 109, 109, 0.35);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 25px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.home1-container07 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.home1-container08 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-text21 {
  font-size: 60px;
  font-family: "Inter";
}
.home1-text22 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
.home1-container09 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-text23 {
  font-size: 60px;
  font-family: "Inter";
}
.home1-text24 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
.home1-container10 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.home1-container11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-text25 {
  font-size: 60px;
  font-family: "Inter";
}
.home1-text26 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
.home1-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-text27 {
  font-size: 60px;
  font-family: "Inter";
}
.home1-text28 {
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
.home1-container13 {
  width: 100%;
  height: 545px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1F3042;
}
.home1-container14 {
  width: auto;
  height: 139px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-heading {
  color: rgb(251, 251, 251);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-text30 {
  color: #ff914d;
}
.home1-text31 {
  color: #ededed;
  font-size: 21px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.4;
}
.home1-container15 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.home1-container16 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container17 {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text43x{
  display: none;
}
.home1-container18 {
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home1-image01 {
  top: 0px;
  left: -10px;
  overflow: hidden;
  width: auto;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
.home1-image01y {
  /* margin-right:100px; */
  width: 100%;
  object-fit: cover;
}
.home1-heading1 {
  color: var(--dl-color-gray-black);
  z-index: 12;
  font-weight: 550;
  font-size: 40px;
  align-self: flex-start;
}
.home1-text40 {
  color: rgb(160, 160, 160);
  font-size: 21px;
  font-style: normal;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-container19 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: space-between;
}
.home1-container20 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container21 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container22 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container23 {
  width: 100%;
  height: 0px;
  display: flex;
  margin-left:-5%;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: space-between;
}
.home1-container24 {
  width: 700px;
  height: 0px;
  display: none;
  align-items: center;
}
.home1-container25 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container26 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container27 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container28 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-container29 {
  width: 100%;
  padding-left: 5%;
  height: 905px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
}
.home1-container30 {
  width: 50%;
  height: auto;
  display: flex;
  padding-right:10%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home1-image02 {
  width: 132px;
  height: 126px;
  object-fit: contain;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home1-text43 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-text44 {
  color: #000000;
}
.home1-text45 {
  color: #000000;
}
.home1-text46 {
  color: #ff914d;
}
.home1-text48 {
  color: #000000;
}
.home1-text49 {
  color: #000000;
}
.home1-text50 {
  color: #000000;
}
.home1-text51 {
  color: rgb(184, 184, 184);
  font-size: 23px;
}
.home1-image03 {
  width: 45%;
  height: auto;
  object-fit: cover;
  z-index: 14;
  border-radius: 0px;
  border-bottom-left-radius: 50px;
}
.home1-container31 {
  width: 100%;
  display: flex;
  height: 1050px;
  /* background-color: red; */
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-container32 {
  width: 100%;
  height: 850px;
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f3042;
  justify-content: flex-start;
}
.home1-Backcover{
  width: 100vw;
  position: absolute;
  top:0;
  display: flex;
  padding-top: 12%;
  align-items: center;
  justify-content: center;
  left:0;
  height:900px;
  background-color: #1f3042;
}
.backGWall{
  width:90%;
  align-self:center;
  justify-self: center;
  height: auto;
  display: flex;
  /* align-items: center; */
  /* background-color: blue; */
  flex-direction: row;
  justify-content: center;
}
/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}


/* .top {
  background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw; */

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
/* }
.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
} */

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}
.home1-container33 {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: flex-start;
  padding-top: 140px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home1-image04 {
  width: 38%;
  position: absolute;
  height: 900px;
  object-fit: fill;
}
.home1-image04x {
  border-bottom-right-radius: 50px;
  width: 48%;
  position: absolute;
  height: 900px;
  overflow: hidden;
  margin-top: 20px;
  /* background-color: #000000; */
  /* opacity: 0.4; */
}
.filler{
  width: 100%;
  position: absolute;
  height: 900px;
}
.home1-container34 {
  flex: 0 0 auto;
  width: 38%;
  right:10%;
  height: auto;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-image05 {
  width: 132px;
  height: 126px;
  margin-top: 0px;
  object-fit: contain;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home1-text56 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}

.home1-container43 {
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/KesterJosh/Website-SampleX/main/fullPerson.png");
}
.home1-container44 {
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/KesterJosh/Website-SampleX/main/fullPerson.png");
}
.home1-container45 {
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/KesterJosh/Website-SampleX/main/fullPerson.png");
}
.home1-container46 {
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/KesterJosh/Website-SampleX/main/fullPerson.png");
}
.home1-container47 {
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/KesterJosh/Website-SampleX/main/fullPerson.png");
}
.home1-text59 {
  color: #ff914d;
}
.home1-text65 {
  color: #b8b8b8;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  margin-top: 50px;
  line-height: 1.5;
}
.home1-container35 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-container36 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-header {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-container37 {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-image06 {
  top: 0px;
  right: -10px;
  width: auto;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
.teamView{
  width: 30%;
  height:500px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 10;
  background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cad0702d-5435-40c7-a994-fccf199a4d48/eb6c8088-b62e-4de7-8eee-9c43f8c649f6?org_if_sml=1&force_format=original');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.teamView2{
  width: 30%;
  height:500px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 10;
  background-position: center;
  background-image: url('/img/img.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.teamView3{
  width: 30%;
  height:500px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 10;
  background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cad0702d-5435-40c7-a994-fccf199a4d48/bbe785e2-2e09-40fe-8fc2-b953e3236eb3?org_if_sml=1&force_format=original');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.teamView4{
  width: 30%;
  height:500px;
  overflow: hidden;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 10;
  background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cad0702d-5435-40c7-a994-fccf199a4d48/dd6e80d5-172d-4518-9c21-853ab1e34050?org_if_sml=1&force_format=original');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.teamView5{
  width: 30%;
  height:500px;
  overflow: hidden;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 10;
  background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/cad0702d-5435-40c7-a994-fccf199a4d48/c54723b1-cb1e-4686-908e-1dc38c88867e?org_if_sml=1&force_format=original');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.home1-image09x{
  width:110%;
  z-index: 6;
  height:100%;
  position: relative;
  object-fit: cover;
}
.overlay{
  margin-top: 500px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: #ff914d82;
}
.overlay2{
  margin-top: 500px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: #ff914d82;
}
.overlay3{
  margin-top: 500px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: #ff914d82;
}
.overlay4{
  margin-top: 500px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: #ff914d82;
}
.overlay5{
  margin-top: 500px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: #ff914d82;
}
.socials{
  display: flex;
}
.nameC1{
  color:white;
  margin-bottom: 10px;
}
.typeC1{
  color:white;
  margin-bottom: 20px;
  font-weight: 400;
}
.typeC1On{
  color:black;
  margin-bottom: 20px;
  font-weight: 400;
}
.home1-image06x {
  width:100%;
  object-fit: cover;
}
.home1-heading2 {
  color: var(--dl-color-gray-black);
  z-index: 12;
  font-weight: 600;
  font-size: 40px;
  align-self: flex-start;
}
.sendMButton{
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  color:white;
  border-radius: 5px;
  font-size: 14px;
  background-color: #FF914D;
}
.home1-text70 {
  height: 44px;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-text71 {
  color: rgb(127, 127, 127);
  font-size: 21px;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-container38 {
  width: 70%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-container39 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-image07 {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-image08 {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-image09 {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-container40 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-image10 {
  width: 30%;
  height: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-image11 {
  width: 30%;
  height: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
}
.home1-container41 {
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: space-between;
}
.home1-container42 {
  width: 700px;
  height: 0px;
  display: none;
  align-items: center;
}
.home1-container43 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container44 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container45 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container46 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container47 {
  width: 30%;
  height: 524px;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 10px 10px #e3e2e2;
  align-items: center;
  border-radius: 45px;
  flex-direction: column;
  justify-content: space-between;
}
.home1-container48 {
  width: 100%;
  height: 492px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home1-container49 {
  width: 80%;
  height: auto;
  display: flex;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  border-radius: 30px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 145, 61) 0.00%,rgb(249, 169, 120) 99.00%);
}
.home1-container50 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-text75 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home1-text76 {
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.home1-container51 {
  width: 70%;
  height: 55px;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-button {
  font-size: 21px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 20px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 20px;
}
.home1-button1 {
  font-size: 21px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 20px;
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 20px;
}
.home1-container52 {
  width: 100%;
  height: 227px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
@media(max-width: 1600px) {
  .home1-image03 {
    width: 43%;
  }
  .home1-container33 {
    width: 100%;
    height: 880px;
  }
  .home1-image04 {
    width: 45%;
  }
  .home1-container29{
    height: 705px;
  }
}
@media(max-width: 1200px) {
  .home1-text01 {
    font-size: 30px;
  }
  .home1-image03{
    width: 45%;
  }
  .home1-container29 {
    width: 100%;
    height: 535px;
  }
  .home1-image04x {
    width: 40%;
    height: 600px;
  }
  .containX{
    width:100%;
    height: 100%;
  }
  .home1-text10 {
    font-size: 16px;
  }
  .home1-text21 {
    font-size: 40px;
  }
  .home1-text23 {
    font-size: 40px;
  }
  .home1-text25 {
    font-size: 40px;
  }
  .home1-text27 {
    font-size: 40px;
  }
  .home1-container13 {
    height: 445px;
  }
  .home1-heading {
    font-size: 35px;
  }
  .home1-text31 {
    font-size: 16px;
  }
  .home1-image01 {
    width: 90%;
  }
  .home1-heading1 {
    font-size: 30px;
  }
  .home1-text40 {
    font-size: 16px;
  }
  .home1-container19 {
    height: auto;
  }
  .home1-container20 {
    height: 424px;
  }
  .home1-container21 {
    height: 424px;
  }
  .home1-container22 {
    height: 424px;
  }
  .home1-container23 {
    height: auto;
  }
  .home1-container25 {
    height: 424px;
  }
  .home1-container26 {
    height: 424px;
  }
  .home1-container27 {
    height: 424px;
  }
  .home1-container28 {
    margin-top: var(--dl-space-space-halfunit);
    height: auto;
  }
  .home1-image02 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  
  .home1-text43 {
    font-size: 30px;
  }
  .home1-text51 {
    font-size: 16px;
  }
  .home1-container33 {
    height: 640px;
    padding-top: 60px;
  }
  .home1-text56 {
    font-size: 30px;
  }
  .home1-text65 {
    font-size: 16px;
    margin-top: 5px;
  }
  .home1-container35 {
    margin-top: 120px;
  }
  .home1-text71 {
    font-size: 16px;
  }
  .home1-container41 {
    height: auto;
  }
  .home1-container43 {
    height: 424px;
  }
  .home1-container44 {
    height: 424px;
  }
  .home1-container45 {
    height: 424px;
  }
  .home1-container46 {
    height: 424px;
  }
  .home1-container47 {
    height: 424px;
  }
  .home1-text76 {
    font-size: 16px;
  }
  .home1-container51 {
    width: 100%;
  }
  .home1-container32{
    height:600px;

  }
  .home1-button {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home1-button1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home1-container31{
    height: 670px;
  }
}
@media(max-width: 991px) {
  .home1-container02 {
    width: 100%;
  }
  .home1-text22 {
    font-size: 16px;
  }
  .home1-container38 {
    width:90%;
  }
  .home1-text24 {
    font-size: 16px;
  }
  .home1-text26 {
    font-size: 16px;
  }
  .home1-container40{
    display: none;
  }
  .home1-container20 {
    height: 324px;
  }
  .home1-container21 {
    height: 324px;
  }
  .home1-container22 {
    height: 324px;
  }
  .home1-container25 {
    height: 324px;
  }
  .home1-container26 {
    height: 324px;
  }
  .home1-container27 {
    height: 324px;
  }
  .home1-container30 {
    width: 45%;
  }
  .home1-image03 {
    width: 45%;
  }
  .home1-image04 {
    width: 55%;
  }
  .home1-container34 {
    width: 44%;
  }
  .home1-container43 {
    height: 324px;
  }
  .home1-container44 {
    height: 324px;
  }
  .home1-container45 {
    height: 324px;
  }
  .home1-container46 {
    height: 324px;
  }
  .home1-container47 {
    height: 324px;
  }
  .home1-text65 {
    font-size: 14px;
    margin-top: 2px;
  }
  .home1-text56{
    font-size: 25px;
  }
  .home1-image05{
    margin-bottom: 5px;
  }
  .home1-container31{
    height: 550px;
  }
  .home1-container32{
    height: 500px;
  }
}
@media(max-width: 767px) {
  .home1-container01 {
    height: 1229px;
    position: relative;
  }
  .home1-container05{
    margin-left: 15px;
  }
  .home1-container04 {
    width: 100%;
    flex-direction: column;
  }
  .home1-container41 {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0);
  }
  .home1-container05 {
    width: 90%;
    height: 350px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home1-text01 {
    font-size: 35px;
  }
  .home1-text10 {
    color: rgb(143, 143, 143);
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .home1-image {
    width: 100%;
    height: 434px;
  }
  .home1-container06 {
    right: 0px;
    width: 90%;
    bottom: -200px;
    height: 407px;
    position: absolute;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    background-color: #ffffff;
  }
  .home1-container07 {
    width: 100%;
  }
  .home1-text21 {
    font-size: 70px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text22 {
    font-size: 16px;
  }
  .home1-text23 {
    font-size: 70px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-image04x {
    width: 90%;
    margin-top: -700px;
    position: relative;
    height: 800px;
  }
  .home1-text24 {
    font-size: 16px;
  }
  .home1-container10 {
    width: 100%;
  }
  .home1-text25 {
    font-size: 70px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text26 {
    font-size: 16px;
  }
  .home1-text27 {
    font-size: 70px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text28 {
    font-size: 16px;
  }
  .home1-container13 {
    height: 511px;
  }
  .home1-container14 {
    width: 90%;
    height: 205px;
    padding-top: var(--dl-space-space-fourunits);
  }
  .home1-text31 {
    font-size: 14px;
  }
  .home1-container15 {
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home1-container16 {
    width: 100%;
    height: auto;
    position: relative;
  }
  .home1-container17 {
    width: 90%;
    height: auto;
    align-self: center;
  }
  .home1-container18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-heading1 {
    font-size: 22px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
  }
  .home1-text40 {
    font-size: 10px;
  }
  .home1-container19 {
    left: 0px;
    width: 638px;
    bottom: 0px;
    height: 234px;
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home1-container20 {
    width: 156px;
    height: 227px;
    border-radius: 15px;
  }
  .home1-container21 {
    width: 156px;
    height: 227px;
    border-radius: 15px;
  }
  .home1-container22 {
    width: 156px;
    height: 227px;
    border-radius: 15px;
  }
  .home1-container23 {
    width: 90%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    scrollbar-width: none;
  }
  .home1-container24 {
    width: 700px;
    height: 300px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home1-container38 {
    display: none;
  }
  .home1-container25 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container49 {
    width: 90%;
    background-image: linear-gradient(180deg, #FF914D 0.00%,#FFBF97 99.00%);
  }
  .home1-container26 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container27 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container29 {
    width: 90%;
    flex-direction: column-reverse;
    padding-left: 0%;
  }
  .home1-container30 {
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
  }
  .home1-text43 {
    display: none;
    font-size: 35px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text43x {
    display: block;
    font-size: 35px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text51 {
    font-size: 11px;
  }
  .home1-image03 {
    width: 100%;
  }
  .home1-container33 {
    height: auto;
    width: 90%;
    flex-direction: column;
  }
  .home1-image04 {
    width: 100%;
  }
  .home1-container34 {
    width: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
  }
  .home1-text56 {
    font-size: 25px;
  }
  .home1-text65 {
    font-size: 11px;
    line-height: 1.5;
  }
  .home1-image06 {
    width: 80%;
  }
  .home1-heading2 {
    font-size: 22px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
  }
  .home1-text70 {
    font-size: 22px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text71 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home1-container43 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container31 {
    height: 1225px;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .home1-container32{
    height: 600px;
    margin-top: 650px;
  }
  .home1-container44 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container45 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container46 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-container47 {
    width: 206px;
    height: 267px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 15px;
  }
  .home1-text75 {
    font-size: 30px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home1-text76 {
    width: 90%;
    font-size: 11px;
  }
  .home1-container51 {
    margin-top: var(--dl-space-space-twounits);
  }
  .home1-button {
    color: #FF914D;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .home1-button1 {
    color: #FF914D;
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    padding-top: 10px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 10px;
  }
  .home1-container28{
    height: 1250px;
  }
  
  .home1-container42 {
    width: auto;
    height: 300px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .home1-container04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home1-container05 {
    width: 100%;
    height: auto;
  }
  .home1-text01 {
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .home1-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home1-container06 {
    width: 100%;
    bottom: -75px;
    height: 200px;
    flex-direction: column;
  }
  .home1-text21 {
    font-size: 25px;
  }
  .home1-text22 {
    font-size: 10px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
  }
  .home1-text23 {
    font-size: 25px;
  }
  .home1-text24 {
    font-size: 10px;
  }
  .home1-text25 {
    font-size: 25px;
  }
  .home1-text26 {
    font-size: 10px;
  }
  .home1-text27 {
    font-size: 25px;
  }
  .home1-text28 {
    font-size: 10px;
  }
  .home1-container13 {
    height: 368px;
  }
  .home1-container14 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
  }
  .home1-heading {
    font-size: 22px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
  }
  .home1-text31 {
    font-size: 10px;
  }
  .home1-container15 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home1-container17 {
    width: 95%;
    margin-top: var(--dl-space-space-unit);
  }
  .home1-image01 {
    left: -5px;
  }
  .home1-image04x{
    margin-top: -450px;
    z-index: 10;
    height: 600px;
    margin-left: 5%;
  }
  .home1-text40 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home1-container28 {
    height: 856px;
  }
  .home1-container29 {
    height: 740px;
    flex-direction: column-reverse;
  }
  .home1-container30 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home1-image02 {
    width: 72px;
    height: 66px;
  }
  .home1-text43 {
    width: 100%;
    font-size: 22px;
  }
  .home1-text51 {
    font-size: 10px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .home1-image03 {
    width: 100%;
    height: 396px;
    position: static;
  }
  .home1-container31 {
    height: 825px;
    /* margin-top: var(--dl-space-space-fiveunits); */
  }
  .home1-container32 {
    height: 762px;
    margin-top: 400px;
    position: relative;
    /* background-color: transparent; */
  }
  .home1-container33 {
    width: 100%;
    height: 498px;
    flex-direction: column;
  }
  .home1-image04 {
    width: 90%;
    height: 519px;
    z-index: 10;
    align-self: center;
    margin-bottom: -60px;
  }
  .home1-container34 {
    width: 80%;
    height: auto;
    /* z-index: 9; */
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #1f3042;
  }
  .home1-image05 {
    width: 88px;
    height: 73px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text56 {
    font-size: 22px;
  }
  .home1-text65 {
    font-size: 10px;
    font-style: normal;
    font-family: inter;
    font-weight: 400;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home1-container36 {
    width: 96%;
    height: auto;
  }
  .home1-header {
    width: 262px;
    height: 65px;
  }
  .home1-text70 {
    height: 31px;
    font-size: 22px;
  }
  .home1-text71 {
    width: 100%;
    font-size: 10px;
  }
  .home1-container42 {
    width: auto;
  }
  .home1-container48 {
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home1-container49 {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home1-text75 {
    font-size: 14px;
  }
  .home1-text76 {
    font-size: 9px;
  }
  .home1-button {
    font-size: 11px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home1-button1 {
    font-size: 11px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
