.reward-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 20;
  justify-content: flex-start;
  background-image: linear-gradient(135deg, rgb(250, 250, 250) 1.00%,rgb(214, 214, 214) 100.00%);
}
.reward-container11 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 15%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  border-color: #b9b9b9;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.reward-image10 {
  width: 130px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
.reward-container12 {
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  justify-content: flex-start;
}
.reward-text10 {
  fill: #9C9C9C;
  color: #9C9C9C;
  font-size: 14px;
}
.reward-navlink10 {
  display: contents;
}
.reward-container13 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image11 {
  width: 19px;
  object-fit: cover;
}
.reward-text11 {
  fill: #1F3042;
  color: #1F3042;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-navlink11 {
  display: contents;
}
.reward-container14 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image12 {
  width: 19px;
  object-fit: cover;
}
.reward-text12 {
  fill: #1F3042;
  color: #1F3042;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-navlink12 {
  display: contents;
}
.reward-container15 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image13 {
  width: 19px;
  object-fit: cover;
}
.reward-text13 {
  fill: #1F3042;
  color: #1F3042;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-container16 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.reward-image14 {
  width: 19px;
  object-fit: cover;
}
.reward-text14 {
  fill: #ff914d;
  color: #ff914d;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-navlink13 {
  display: contents;
}
.reward-container17 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image15 {
  width: 19px;
  object-fit: cover;
}
.reward-text15 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-container18 {
  left: 32px;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.reward-text16 {
  fill: #9C9C9C;
  color: rgb(156, 156, 156);
  font-size: 10px;
}
.reward-navlink14 {
  display: contents;
}
.reward-container19 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image16 {
  width: 21px;
  object-fit: cover;
}
.reward-text17 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-container20 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.reward-image17 {
  width: 21px;
  object-fit: cover;
}
.reward-text18 {
  fill: #FF0000;
  color: #FF0000;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.reward-container21 {
  flex: 0 0 auto;
  width: 85%;
  display: none;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.reward-text19 {
  color: rgb(31, 48, 66);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.reward-container22 {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reward-image18 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.reward-container23 {
  flex: 0 0 auto;
  width: 90%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.reward-image19 {
  width: 25px;
  z-index: 10;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.reward-text20 {
  fill: #989898;
  color: #989898;
  z-index: 10;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.reward-textinput1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  border-width: 0px;
  border-radius: 25px;
}
.reward-image20 {
  width: 200px;
  display: none;
  object-fit: cover;
  text-decoration: none;
}
.reward-container24 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-text21 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.reward-container25 {
  top: 0px;
  flex: 2;
  right: 0px;
  width: 85%;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.reward-container26 {
  flex: 0 0 auto;
  width: 85%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.reward-text22 {
  color: rgb(31, 48, 66);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.reward-image21 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.reward-container27 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.reward-image22 {
  width: 25px;
  z-index: 10;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.reward-text23 {
  fill: #989898;
  color: #989898;
  z-index: 10;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.reward-textinput2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  border-width: 0px;
  border-radius: 25px;
}
.reward-container28 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-text24 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.reward-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.reward-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.reward-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #FF914D;
}
.reward-text25 {
  fill: #FF914D;
  color: #FF914D;
  font-size: 18px;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 6px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.reward-text26 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.reward-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.reward-container33 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reward-text27 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 6px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(255, 145, 77);
}
.reward-text28 {
  color: rgb(255, 145, 77);
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 6px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  /* background-color: var(--dl-color-gray-white); */
}
.reward-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reward-container35 {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.reward-image23 {
  width: 100%;
  object-fit: cover;
}
.reward-container36 {
  flex: 0 0 auto;
  width: 90%;
  height: 36px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 1%;
  border-color: #FF914D;
  border-style: solid;
  border-width: 4px;
  margin-right: 1%;
  border-radius: 100px;
  justify-content: flex-start;
}
.reward-container37 {
  flex: 0 0 auto;
  width: 90%;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-container38 {
  flex: 0 0 auto;
  width: 98%;
  height: 10px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #FFBA8F;
}
.reward-container39 {
  flex: 0 0 auto;
  right: 75%;
  width: 45px;
  height: 45px;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #FF914D;
}
.reward-text29 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.reward-container40 {
  flex: 0 0 auto;
  right: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #FF914D;
}
.reward-text30 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.reward-container41 {
  flex: 0 0 auto;
  right: 25%;
  width: 45px;
  height: 45px;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #FF914D;
}
.reward-text33 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.reward-container42 {
  flex: 0 0 auto;
  right: -0.5%;
  width: 45px;
  height: 45px;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #BFBFBF;
}
.reward-text34 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.reward-container43 {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.reward-image24 {
  width: 100%;
  object-fit: cover;
}
.reward-container44 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.reward-container45 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image25 {
  width: 25px;
  object-fit: cover;
}
.reward-text35 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container46 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image26 {
  width: 25px;
  object-fit: cover;
}
.reward-text36 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container47 {
  flex: 0 0 auto;
  width: 54%;
  height: 350px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 12px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.reward-container48 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image27 {
  width: 25px;
  object-fit: cover;
}
.reward-text37 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container49 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-container50 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.reward-text38 {
  color: rgb(146, 146, 146);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-text39 {
  fill: #1F3042;
  color: #1F3042;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-container51 {
  flex: 0 0 auto;
  width: 100%;
  height: 19px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  justify-content: flex-start;
  background-color: #DFDFDF;
}
.reward-container52 {
  flex: 0 0 auto;
  width: 75%;
  height: 19px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-container53 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-container54 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.reward-text40 {
  color: rgb(146, 146, 146);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-text41 {
  color: rgb(31, 48, 66);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-container55 {
  flex: 0 0 auto;
  width: 100%;
  height: 19px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  justify-content: flex-start;
  background-color: #DFDFDF;
}
.reward-container56 {
  flex: 0 0 auto;
  width: 100%;
  height: 19px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-container57 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-container58 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.reward-text42 {
  color: rgb(146, 146, 146);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-text43 {
  color: rgb(31, 48, 66);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.reward-container59 {
  flex: 0 0 auto;
  width: 100%;
  height: 19px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  justify-content: flex-start;
  background-color: #DFDFDF;
}
.reward-container60 {
  flex: 0 0 auto;
  width: 33%;
  height: 19px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-container61 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.reward-text44 {
  fill: #FF914D;
  color: #FF914D;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.reward-container62 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image28 {
  width: 25px;
  object-fit: cover;
}
.reward-text45 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container63 {
  flex: 0 0 auto;
  width: 44%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.reward-container64 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image29 {
  width: 25px;
  object-fit: cover;
}
.reward-text46 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container65 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 12px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.reward-container66 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.reward-image30 {
  width: 25px;
  object-fit: cover;
}
.reward-text47 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.reward-container67 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.reward-container68 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.reward-container69 {
  flex: 0 0 auto;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: flex-start;
  border-color: #E58A53;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  background-color: #FF914D;
}
.reward-container70 {
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-text48 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 15px;
  align-self: center;
  font-weight: 400;
}
.reward-text49 {
  font-weight: 700;
}
.reward-text51 {
  font-style: normal;
}
.reward-container71 {
  flex: 0 0 auto;
  width: 170px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  background-color: #FF914D;
}
.reward-text52 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.reward-container72 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.reward-container73 {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.reward-container74 {
  flex: 0 0 auto;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: flex-start;
  border-color: #E58A53;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  background-color: #FF914D;
}
.reward-container75 {
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-text53 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 15px;
  align-self: center;
  font-weight: 400;
}
.reward-text54 {
  font-weight: 700;
}
.reward-container76 {
  flex: 0 0 auto;
  width: 170px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #B9B9B9;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  justify-content: center;
}
.reward-text57 {
  color: rgb(132, 132, 132);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.reward-container77 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: space-between;
  flex-direction: row;
  justify-content: flex-end;
}
.reward-container78 {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.reward-image31 {
  width: 100%;
  object-fit: cover;
}
.reward-container79 {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
}
.reward-image32 {
  width: 100%;
  object-fit: cover;
}
.reward-container80 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 10vh;
  display: none;
  position: fixed;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.reward-container81 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image33 {
  height: 50%;
  object-fit: cover;
}
.reward-text58 {
  text-align: center;
}
.reward-container82 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image34 {
  height: 50%;
  object-fit: cover;
}
.reward-text59 {
  text-align: center;
}
.reward-container83 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image35 {
  height: 50%;
  object-fit: cover;
}
.reward-text60 {
  text-align: center;
}
.reward-container84 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image36 {
  height: 50%;
  object-fit: cover;
}
.reward-text61 {
  text-align: center;
}
.reward-container85 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.reward-image37 {
  height: 50%;
  object-fit: cover;
}
.reward-text62 {
  text-align: center;
}
.reward-container86 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 10vh;
  display: none;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 1200px) {
  .reward-container11 {
    padding-left: var(--dl-space-space-halfunit);
  }
  .reward-text13 {
    fill: #1F3042;
    color: #1F3042;
  }
  .reward-text14 {
    fill: #ff914d;
    color: #ff914d;
  }
  .reward-container23 {
    width: 90%;
  }
  .reward-text22 {
    color: rgb(31, 48, 66);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .reward-container27 {
    width: 50%;
  }
  .reward-container30 {
    width: 100%;
  }
  .reward-text25 {
    font-size: 11px;
  }
  .reward-text27 {
    font-size: 11px;
  }
  .reward-text28 {
    font-size: 11px;
  }
  .reward-container47 {
    width: 54%;
    height: 350px;
  }
  .reward-text38 {
    font-size: 13px;
  }
  .reward-text39 {
    font-size: 13px;
  }
  .reward-text40 {
    font-size: 13px;
  }
  .reward-text41 {
    font-size: 13px;
  }
  .reward-text42 {
    font-size: 13px;
  }
  .reward-text43 {
    font-size: 13px;
  }
  .reward-text44 {
    font-size: 13px;
  }
  .reward-container63 {
    width: 44%;
  }
  .reward-container65 {
    height: 350px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .reward-text48 {
    font-size: 13px;
  }
  .reward-text53 {
    font-size: 13px;
  }
}
@media(max-width: 991px) {
  .reward-container10 {
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(240, 240, 240) 1.00%,rgb(240, 240, 240) 100.00%);
  }
  .reward-container11 {
    display: none;
  }
  .reward-container21 {
    width: 100%;
    display: flex;
    padding-top: var(--dl-space-space-unit);
    border-color: #D9D9D9;
    border-width: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-bottom-width: 1px;
  }
  .reward-text19 {
    color: rgb(31, 48, 66);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .reward-container22 {
    display: none;
  }
  .reward-container23 {
    width: 90%;
  }
  .reward-image20 {
    width: 20px;
    display: flex;
  }
  .reward-container24 {
    display: none;
  }
  .reward-container25 {
    width: 100%;
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .reward-container26 {
    display: none;
  }
  .reward-container29 {
    flex-direction: column;
  }
  .reward-container36 {
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
  .reward-container51 {
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
  .reward-container55 {
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
  .reward-container59 {
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
  .reward-container70 {
    width: auto;
  }
  .reward-text48 {
    font-size: 13px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .reward-text49 {
    font-weight: 700;
  }
  .reward-text51 {
    font-size: 10px;
    font-style: normal;
  }
  .reward-container75 {
    width: auto;
    margin-left: var(--dl-space-space-halfunit);
  }
  .reward-text53 {
    font-size: 13px;
  }
  .reward-text54 {
    font-weight: 700;
  }
  .reward-text56 {
    font-size: 10px;
  }
  .reward-container80 {
    height: 12vh;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #D2D2D2;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
    background-color: #F0F0F0;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .reward-container81 {
    width: 20%;
    justify-content: center;
  }
  .reward-image33 {
    height: 45%;
  }
  .reward-text58 {
    font-size: 14px;
  }
  .reward-container82 {
    width: 20%;
    justify-content: center;
  }
  .reward-image34 {
    height: 45%;
  }
  .reward-text59 {
    font-size: 14px;
  }
  .reward-container83 {
    width: 20%;
    justify-content: center;
  }
  .reward-image35 {
    height: 45%;
  }
  .reward-text60 {
    font-size: 14px;
  }
  .reward-container84 {
    width: 20%;
    justify-content: center;
  }
  .reward-image36 {
    height: 45%;
  }
  .reward-text61 {
    font-size: 14px;
  }
  .reward-container85 {
    width: 20%;
    justify-content: center;
  }
  .reward-image37 {
    height: 45%;
  }
  .reward-text62 {
    font-size: 14px;
  }
  .reward-container86 {
    flex: 0 0 auto;
    height: 15vh;
    display: flex;
    position: static;
    align-items: center;
    border-color: #D2D2D2;
    border-style: hidden;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
}
@media(max-width: 767px) {
  .reward-container34 {
    justify-content: space-between;
  }
  .reward-container36 {
    width: 85%;
  }
  .reward-container44 {
    flex-direction: column;
  }
  .reward-container45 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .reward-image25 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .reward-container46 {
    display: flex;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .reward-image26 {
    margin-left: var(--dl-space-space-unit);
  }
  .reward-container47 {
    width: 100%;
  }
  .reward-container48 {
    display: none;
  }
  .reward-container62 {
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .reward-image28 {
    margin-left: var(--dl-space-space-unit);
  }
  .reward-container63 {
    width: 100%;
  }
  .reward-container64 {
    display: none;
  }
  .reward-container65 {
    height: auto;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .reward-container66 {
    display: none;
  }
  .reward-container67 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .reward-text48 {
    margin-left: 0px;
  }
  .reward-container72 {
    margin-top: var(--dl-space-space-halfunit);
  }
  .reward-container75 {
    margin-left: var(--dl-space-space-unit);
  }
  .reward-image33 {
    height: 30%;
  }
  .reward-text58 {
    font-size: 8px;
  }
  .reward-image34 {
    height: 30%;
  }
  .reward-text59 {
    font-size: 8px;
  }
  .reward-image35 {
    height: 30%;
  }
  .reward-text60 {
    font-size: 8px;
  }
  .reward-image36 {
    height: 30%;
  }
  .reward-text61 {
    font-size: 8px;
  }
  .reward-image37 {
    height: 30%;
  }
  .reward-text62 {
    font-size: 8px;
  }
  .reward-container86 {
    border-style: hidden;
    border-width: 0px;
    border-top-width: 0px;
  }
}
@media(max-width: 479px) {
  .reward-container21 {
    height: 70px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .reward-text19 {
    font-size: 20px;
  }
  .reward-container25 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .reward-container31 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .reward-text25 {
    color: rgb(255, 145, 77);
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    padding-top: 4px;
    border-radius: 2px;
    padding-bottom: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .reward-text26 {
    font-size: 6px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 2px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .reward-container32 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 6px;
    padding-right: var(--dl-space-space-halfunit);
  }
  .reward-text27 {
    font-size: 5px;
    padding-top: 3px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 3px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 3px;
  }
  .reward-text28 {
    font-size: 5px;
    padding-top: 3px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 3px;
  }
  .reward-container34 {
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .reward-container35 {
    width: 12px;
    height: 12px;
  }
  .reward-image23 {
    width: 100%;
  }
  .reward-container36 {
    width: 88%;
    height: 12px;
    margin-left: 0.5%;
    border-width: 1px;
    margin-right: 0.5%;
    justify-content: flex-start;
  }
  .reward-container37 {
    width: 80%;
    height: 12px;
    justify-content: center;
  }
  .reward-container38 {
    height: 3px;
  }
  .reward-container39 {
    right: 25%;
    width: 16px;
    height: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .reward-text29 {
    font-size: 4px;
    align-self: center;
    margin-top: 2px;
  }
  .reward-container40 {
    right: 50%;
    width: 16px;
    height: 16px;
    margin: auto;
  }
  .reward-text30 {
    font-size: 4px;
    margin-top: 2px;
    text-align: center;
  }
  .reward-container41 {
    width: 15px;
    height: 15px;
  }
  .reward-text33 {
    color: var(--dl-color-gray-white);
    font-size: 4px;
    font-style: normal;
    margin-top: 2px;
    text-align: center;
    font-weight: 500;
  }
  .reward-container42 {
    width: 15px;
    height: 15px;
  }
  .reward-text34 {
    font-size: 4px;
    margin-top: 2px;
  }
  .reward-container43 {
    width: 12px;
    height: 12px;
  }
  .reward-image24 {
    width: 100%;
  }
  .reward-image25 {
    width: 10px;
  }
  .reward-text35 {
    font-size: 10px;
  }
  .reward-image26 {
    width: 10px;
  }
  .reward-text36 {
    font-size: 10px;
  }
  .reward-container47 {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .reward-image27 {
    width: 10px;
  }
  .reward-text37 {
    font-size: 10px;
  }
  .reward-container49 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .reward-text38 {
    font-size: 7px;
  }
  .reward-text39 {
    font-size: 7px;
  }
  .reward-container51 {
    height: 10px;
  }
  .reward-container52 {
    height: 10px;
  }
  .reward-container53 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .reward-text40 {
    font-size: 7px;
  }
  .reward-text41 {
    font-size: 7px;
  }
  .reward-container55 {
    height: 10px;
  }
  .reward-container56 {
    height: 10px;
  }
  .reward-container57 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .reward-text42 {
    font-size: 7px;
  }
  .reward-text43 {
    font-size: 7px;
  }
  .reward-container59 {
    height: 10px;
  }
  .reward-container60 {
    height: 10px;
  }
  .reward-text44 {
    font-size: 7px;
  }
  .reward-container62 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .reward-image28 {
    width: 10px;
    margin-left: var(--dl-space-space-unit);
  }
  .reward-text45 {
    font-size: 10px;
  }
  .reward-image29 {
    width: 10px;
  }
  .reward-text46 {
    font-size: 10px;
  }
  .reward-container65 {
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .reward-image30 {
    width: 10px;
  }
  .reward-text47 {
    font-size: 10px;
  }
  .reward-container67 {
    margin-top: 3px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .reward-container69 {
    width: 7px;
    height: 7px;
  }
  .reward-container70 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .reward-text48 {
    font-size: 7px;
  }
  .reward-text49 {
    font-weight: 600;
  }
  .reward-text50 {
    font-style: normal;
  }
  .reward-text51 {
    font-size: 5px;
    font-style: normal;
  }
  .reward-container71 {
    width: 90px;
    height: 20px;
  }
  .reward-text52 {
    font-size: 6px;
  }
  .reward-container72 {
    margin-top: 0px;
  }
  .reward-container74 {
    width: 7px;
    height: 7px;
  }
  .reward-container75 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .reward-text53 {
    font-size: 7px;
  }
  .reward-text54 {
    font-weight: 700;
  }
  .reward-text55 {
    font-weight: 700;
  }
  .reward-text56 {
    font-size: 5px;
  }
  .reward-container76 {
    width: 90px;
    height: 20px;
  }
  .reward-text57 {
    font-size: 6px;
  }
  .reward-container77 {
    margin-top: var(--dl-space-space-halfunit);
    justify-content: flex-end;
  }
  .reward-container78 {
    width: 15px;
    height: 15px;
  }
  .reward-image31 {
    width: 100%;
  }
  .reward-container79 {
    width: 15px;
    height: 15px;
  }
  .reward-image32 {
    width: 100%;
  }
  .reward-container80 {
    height: 6vh;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #F0F0F0;
  }
  .reward-container81 {
    height: 50px;
  }
  .reward-image33 {
    height: 20%;
  }
  .reward-text58 {
    font-size: 6px;
  }
  .reward-container82 {
    height: 50px;
  }
  .reward-image34 {
    height: 20%;
  }
  .reward-text59 {
    font-size: 6px;
  }
  .reward-container83 {
    height: 50px;
  }
  .reward-image35 {
    height: 20%;
  }
  .reward-text60 {
    font-size: 6px;
  }
  .reward-container84 {
    height: 50px;
  }
  .reward-image36 {
    height: 20%;
  }
  .reward-text61 {
    font-size: 6px;
  }
  .reward-container85 {
    height: 50px;
  }
  .reward-image37 {
    height: 20%;
  }
  .reward-text62 {
    font-size: 6px;
  }
  .reward-container86 {
    height: 8vh;
  }
}
