.transaction-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(135deg, rgb(250, 250, 250) 1.00%,rgb(214, 214, 214) 100.00%);
}
.payment-button {
  background-color: #ff914d;
  padding: 6px 20px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 769px) {
  .payment-button {
    padding: 2px 8px;
    font-size: 6px;
    margin-left: 8px;
  }
}
.transaction-container11 {
  flex: 0 0 auto;
  width: 85%;
  display: none;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.transaction-text10 {
  color: rgb(31, 48, 66);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.transaction-container12 {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transaction-image10 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.transaction-container13 {
  flex: 0 0 auto;
  width: 90%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.transaction-image11 {
  width: 25px;
  z-index: 10;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.transaction-text11 {
  fill: #989898;
  color: #989898;
  z-index: 10;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.transaction-textinput1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  border-width: 0px;
  border-radius: 25px;
}
.transaction-image12 {
  width: 200px;
  display: none;
  object-fit: cover;
  text-decoration: none;
}
.transaction-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: center;
  background-color: #FF914D;
}
.transaction-text12 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.transaction-container15 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 15%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  border-color: #b9b9b9;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.transaction-image13 {
  width: 130px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
.transaction-container16 {
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  justify-content: flex-start;
}
.transaction-text13 {
  fill: #9C9C9C;
  color: #9C9C9C;
  font-size: 14px;
}
.transaction-navlink11 {
  display: contents;
}
.transaction-container17 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image14 {
  width: 19px;
  object-fit: cover;
}
.transaction-text14 {
  fill: rgb(31, 48, 66);
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-navlink12 {
  display: contents;
}
.transaction-container18 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image15 {
  width: 19px;
  object-fit: cover;
}
.transaction-text15 {
  fill: #1F3042;
  color: #1F3042;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-navlink13 {
  display: contents;
}
.transaction-container19 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image16 {
  width: 19px;
  object-fit: cover;
}
.transaction-text16 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-navlink14 {
  display: contents;
}
.transaction-container20 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image17 {
  width: 19px;
  object-fit: cover;
}
.transaction-text17 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-navlink15 {
  display: contents;
}
.transaction-container21 {
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image18 {
  width: 19px;
  object-fit: cover;
}
.transaction-text18 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-container22 {
  left: 32px;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  /* padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit); */
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.transaction-text19 {
  fill: #9C9C9C;
  color: rgb(156, 156, 156);
  font-size: 10px;
}
.transaction-navlink16 {
  display: contents;
}
.transaction-container23 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image19 {
  width: 21px;
  object-fit: cover;
}
.transaction-text20 {
  fill: #1F3042;
  color: rgb(31, 48, 66);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-container24 {
  display: flex;
  cursor: pointer;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.transaction-image20 {
  width: 21px;
  object-fit: cover;
}
.transaction-text21 {
  fill: #FF0000;
  color: #FF0000;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
}
.transaction-container25 {
  top: 0px;
  flex: 2;
  right: 0px;
  width: 85%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.transaction-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.transaction-text22 {
  color: rgb(31, 48, 66);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.transaction-container27 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transaction-image21 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.transaction-container28 {
  flex: 0 0 auto;
  width: 90%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.transaction-image22 {
  width: 25px;
  z-index: 10;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.transaction-text23 {
  fill: #989898;
  color: #989898;
  z-index: 10;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.transaction-textinput2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  border-width: 0px;
  border-radius: 25px;
}
.transaction-container29 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: 25px;
  justify-content: center;
  background-color: #FF914D;
}
.transaction-text24 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.transaction-navlink17 {
  display: contents;
}
.transaction-image23 {
  width: 200px;
  display: none;
  object-fit: cover;
  text-decoration: none;
}
.transaction-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.transaction-container31 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.transaction-text25 {
  font-size: 15px;
}
.transaction-text27 {
  font-weight: 700;
}
.transaction-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.transaction-container33 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
}
.transaction-text28 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container34 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.transaction-text29 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container35 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.transaction-text30 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container36 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.transaction-text31 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container37 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text32 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container38 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(250, 250, 250, 0.7);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.transaction-container40 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text33 {
  fill: #565656;
  color: #565656;
  font-size: 13px;
}
.transaction-container41 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text34 {
  fill: #565656;
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-text37 {
  color: #ff914d;
  font-size: 9px;
}
.transaction-container42 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text38 {
  fill: #565656;
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-text41 {
  color: #ff914d;
  font-size: 9px;
}
.transaction-container43 {
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-image24 {
  width: 20px;
  object-fit: cover;
}
.transaction-text42 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container44 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text43 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 10px;
  padding-top: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 3px;
  background-color: #00A106;
}
.transaction-container45 {
  width: 20%;
  display: flex;
  align-items: flex-start;
}
.transaction-text44 {
  fill: #FF914D;
  color: #FF914D;
  font-size: 13px;
  cursor: pointer;
}
.transaction-text45 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.transaction-container46 {
  flex: 0 0 auto;
  width: 100%;
  display: block;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #FF914D;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.transaction-container47 {
  float: left;
  width: 15%;
  display: flex;
  align-items: flex-start;
}
.transaction-text46 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 15px;
}
.transaction-container48 {
  float: left;
  width: 10%;
  display: flex;
  align-items: flex-start;
}
.transaction-text47 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 15px;
}
.transaction-container49 {
  float: left;
  width: 14%;
  display: flex;
  align-items: flex-start;
}
.transaction-text48 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 15px;
}
.transaction-container50 {
  float: left;
  width: 15%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
}
.transaction-text49 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 15px;
}
.transaction-container51 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(250, 250, 250, 0.7);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.transaction-container52 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container53 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text50 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container54 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text51 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container55 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text52 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container56 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text53 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container57 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text54 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container58 {
  width: 15%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.transaction-text55 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container59 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container60 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text56 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container61 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text57 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container62 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text58 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container63 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text59 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container64 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text60 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container65 {
  width: 15%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.transaction-text61 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container66 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container67 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text62 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container68 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text63 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container69 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text64 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container70 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text65 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container71 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text66 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container72 {
  width: 15%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.transaction-text67 {
  color: rgb(255, 145, 77);
  cursor: pointer;
  font-size: 13px;
}
.transaction-container73 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container74 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text68 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container75 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text69 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container76 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text70 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container77 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text71 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container78 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text72 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container79 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.transaction-text73 {
  color: rgb(255, 145, 77);
  cursor: pointer;
  font-size: 13px;
  padding-right: var(--dl-space-space-unit);
}
.transaction-container80 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container81 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text74 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container82 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text75 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container83 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text76 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container84 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text77 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container85 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text78 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container86 {
  width: 15%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.transaction-text79 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container87 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #E8E8E8;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.transaction-container88 {
  width: 15%;
  display: flex;
  align-items: center;
}
.transaction-text80 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container89 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text81 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container90 {
  width: 10%;
  display: flex;
  align-items: center;
}
.transaction-text82 {
  color: rgb(86, 86, 86);
  font-size: 15px;
}
.transaction-container91 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text83 {
  color: rgb(86, 86, 86);
  font-size: 13px;
}
.transaction-container92 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text84 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container93 {
  width: 15%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.transaction-text85 {
  color: rgb(255, 145, 77);
  font-size: 13px;
  cursor: pointer;
}
.transaction-container94 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.transaction-container95 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 5px;
  border-color: #FF914D;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 500px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: center;
}
.transaction-text86 {
  color: rgb(255, 145, 77);
  font-size: 13px;
}
.transaction-container96 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  cursor: pointer;
  padding-top: 5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 500px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #FF914D;
}
.transaction-text87 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 13px;
}
.transaction-image25 {
  height: 7px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.transaction-container97 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 10vh;
  display: none;
  position: fixed;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.transaction-container98 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image26 {
  height: 50%;
  object-fit: cover;
}
.transaction-text88 {
  text-align: center;
}
.transaction-container99 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image27 {
  height: 50%;
  object-fit: cover;
}
.transaction-text89 {
  text-align: center;
}
.transaction-container100 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image28 {
  height: 50%;
  object-fit: cover;
}
.transaction-text90 {
  text-align: center;
}
.transaction-container101 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image29 {
  height: 50%;
  object-fit: cover;
}
.transaction-text91 {
  text-align: center;
}
.transaction-container102 {
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.transaction-image30 {
  height: 50%;
  object-fit: cover;
}
.transaction-text92 {
  text-align: center;
}
.transaction-container103 {
  flex: 2;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 10vh;
  display: none;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 1200px) {
  .transaction-container13 {
    width: 90%;
  }
  .transaction-container28 {
    width: 90%;
  }
  .transaction-container47 {
    width: 15%;
  }
  .transaction-container48 {
    width: 8%;
  }
  .transaction-container49 {
    width: auto;
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-container50 {
    padding-right: 0px;
  }
}
@media(max-width: 991px) {
  .transaction-container10 {
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(240, 240, 240) 2.00%,rgb(240, 240, 240) 99.00%);
  }
  .transaction-container11 {
    width: 100%;
    height: 105px;
    display: flex;
    padding-top: var(--dl-space-space-unit);
    border-color: #D9D9D9;
    border-width: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-bottom-width: 1px;
  }
  .transaction-text10 {
    color: rgb(31, 48, 66);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .transaction-container12 {
    display: none;
  }
  .transaction-container13 {
    width: 90%;
  }
  .transaction-image12 {
    width: 20px;
    display: flex;
  }
  .transaction-container14 {
    display: none;
  }
  .transaction-container15 {
    display: none;
    padding-left: var(--dl-space-space-halfunit);
  }
  .transaction-container25 {
    width: 100%;
    position: static;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .transaction-container26 {
    display: none;
  }
  .transaction-container27 {
    display: none;
  }
  .transaction-container29 {
    display: none;
  }
  .transaction-image23 {
    width: 20px;
    display: flex;
  }
  .transaction-container30 {
    flex-direction: column;
  }
  .transaction-text34 {
    font-size: 5px;
  }
  .transaction-text37 {
    color: #ff914d;
    font-size: 5px;
  }
  .transaction-container50 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: 0px;
  }
  .transaction-container51 {
    flex-direction: column;
  }
  .transaction-container97 {
    height: 12vh;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #D2D2D2;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
    background-color: #F0F0F0;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .transaction-container98 {
    width: 20%;
    justify-content: center;
  }
  .transaction-image26 {
    height: 45%;
  }
  .transaction-text88 {
    font-size: 14px;
  }
  .transaction-container99 {
    width: 20%;
    justify-content: center;
  }
  .transaction-image27 {
    height: 45%;
  }
  .transaction-text89 {
    font-size: 14px;
  }
  .transaction-container100 {
    width: 20%;
    justify-content: center;
  }
  .transaction-image28 {
    height: 45%;
  }
  .transaction-text90 {
    font-size: 14px;
  }
  .transaction-container101 {
    width: 20%;
    justify-content: center;
  }
  .transaction-image29 {
    height: 45%;
  }
  .transaction-text91 {
    font-size: 14px;
  }
  .transaction-container102 {
    width: 20%;
    justify-content: center;
  }
  .transaction-image30 {
    height: 45%;
  }
  .transaction-text92 {
    font-size: 14px;
  }
  .transaction-container103 {
    flex: 0 0 auto;
    height: 15vh;
    display: flex;
    position: static;
    align-items: center;
    border-color: #D2D2D2;
    border-style: hidden;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
}
@media(max-width: 767px) {
  .transaction-container26 {
    display: none;
  }
  .transaction-text25 {
    font-size: 8px;
  }
  .transaction-container33 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .transaction-text28 {
    font-size: 5px;
  }
  .transaction-container34 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text29 {
    font-size: 5px;
  }
  .transaction-container35 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text30 {
    font-size: 5px;
  }
  .transaction-container36 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text31 {
    font-size: 5px;
  }
  .transaction-text32 {
    font-size: 5px;
  }
  .transaction-container39 {
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-container40 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text33 {
    font-size: 5px;
  }
  .transaction-container41 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text34 {
    font-size: 5px;
  }
  .transaction-container42 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text38 {
    font-size: 5px;
  }
  .transaction-text41 {
    color: #ff914d;
    font-size: 5px;
  }
  .transaction-container43 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text42 {
    font-size: 5px;
  }
  .transaction-container44 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text43 {
    font-size: 5px;
  }
  .transaction-text44 {
    font-size: 5px;
  }
  .transaction-text45 {
    font-size: 9px;
  }
  .transaction-container46 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text46 {
    font-size: 5px;
  }
  .transaction-text47 {
    font-size: 5px;
  }
  .transaction-container49 {
    width: 19%;
  }
  .transaction-text48 {
    font-size: 5px;
  }
  .transaction-text49 {
    font-size: 5px;
  }
  .transaction-container52 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text50 {
    font-size: 5px;
  }
  .transaction-text51 {
    font-size: 5px;
  }
  .transaction-text52 {
    font-size: 5px;
  }
  .transaction-text53 {
    font-size: 5px;
  }
  .transaction-text54 {
    font-size: 5px;
  }
  .transaction-text55 {
    font-size: 5px;
  }
  .transaction-container59 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text56 {
    font-size: 5px;
  }
  .transaction-text57 {
    font-size: 5px;
  }
  .transaction-text58 {
    font-size: 5px;
  }
  .transaction-text59 {
    font-size: 5px;
  }
  .transaction-text60 {
    font-size: 5px;
  }
  .transaction-text61 {
    font-size: 5px;
  }
  .transaction-container66 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text62 {
    font-size: 5px;
  }
  .transaction-text63 {
    font-size: 5px;
  }
  .transaction-text64 {
    font-size: 5px;
  }
  .transaction-text65 {
    font-size: 5px;
  }
  .transaction-text66 {
    font-size: 5px;
  }
  .transaction-text67 {
    font-size: 5px;
  }
  .transaction-container73 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text68 {
    font-size: 5px;
  }
  .transaction-text69 {
    font-size: 5px;
  }
  .transaction-text70 {
    font-size: 5px;
  }
  .transaction-text71 {
    font-size: 5px;
  }
  .transaction-text72 {
    font-size: 5px;
  }
  .transaction-text73 {
    font-size: 5px;
  }
  .transaction-container80 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text74 {
    font-size: 5px;
  }
  .transaction-text75 {
    font-size: 5px;
  }
  .transaction-text76 {
    font-size: 5px;
  }
  .transaction-text77 {
    font-size: 5px;
  }
  .transaction-text78 {
    font-size: 5px;
  }
  .transaction-text79 {
    font-size: 5px;
  }
  .transaction-container87 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .transaction-text80 {
    font-size: 5px;
  }
  .transaction-text81 {
    font-size: 5px;
  }
  .transaction-text82 {
    font-size: 5px;
  }
  .transaction-text83 {
    font-size: 5px;
  }
  .transaction-text84 {
    font-size: 5px;
  }
  .transaction-text85 {
    font-size: 5px;
  }
  .transaction-container94 {
    padding-top: var(--dl-space-space-halfunit);
  }
  .transaction-text86 {
    font-size: 5px;
  }
  .transaction-text87 {
    font-size: 5px;
  }
  .transaction-image26 {
    height: 30%;
  }
  .transaction-text88 {
    font-size: 8px;
  }
  .transaction-image27 {
    height: 30%;
  }
  .transaction-text89 {
    font-size: 8px;
  }
  .transaction-image28 {
    height: 30%;
  }
  .transaction-text90 {
    font-size: 8px;
  }
  .transaction-image29 {
    height: 30%;
  }
  .transaction-text91 {
    font-size: 8px;
  }
  .transaction-image30 {
    height: 30%;
  }
  .transaction-text92 {
    font-size: 8px;
  }
  .transaction-container103 {
    border-style: hidden;
    border-width: 0px;
    border-top-width: 0px;
  }
}
@media(max-width: 479px) {
  .transaction-container10 {
    flex-direction: column;
  }
  .transaction-container11 {
    height: 70px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-text10 {
    color: rgb(31, 48, 66);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .transaction-container25 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-container31 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-container32 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .transaction-container34 {
    margin-left: var(--dl-space-space-halfunit);
    padding-left: 2px;
    padding-right: 2px;
  }
  .transaction-container35 {
    margin-left: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
  }
  .transaction-container36 {
    margin-left: var(--dl-space-space-unit);
  }
  .transaction-container37 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .transaction-container39 {
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .transaction-container40 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .transaction-container41 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .transaction-text34 {
    font-size: 5px;
  }
  .transaction-text37 {
    color: #ff914d;
    font-size: 5px;
  }
  .transaction-container42 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .transaction-text38 {
    font-size: 5px;
  }
  .transaction-text41 {
    color: #ff914d;
    font-size: 5px;
  }
  .transaction-container43 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .transaction-container44 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .transaction-container45 {
    width: 22%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .transaction-text44 {
    color: rgb(255, 145, 77);
    font-size: 5px;
  }
  .transaction-container46 {
    margin-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container47 {
    width: 15%;
    margin-right: 0px;
  }
  .transaction-container48 {
    width: 10%;
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-container49 {
    width: 10%;
    margin-right: 2px;
    padding-right: 0px;
  }
  .transaction-container50 {
    width: 35%;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .transaction-container52 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container58 {
    padding-right: 0px;
  }
  .transaction-container59 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container65 {
    padding-right: 0px;
  }
  .transaction-container66 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container72 {
    padding-right: 0px;
  }
  .transaction-container73 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-text73 {
    padding-right: 0px;
  }
  .transaction-container80 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container86 {
    padding-right: 0px;
  }
  .transaction-container87 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container93 {
    padding-right: 0px;
  }
  .transaction-container94 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .transaction-container97 {
    height: 6vh;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #F0F0F0;
  }
  .transaction-container98 {
    height: 50px;
  }
  .transaction-image26 {
    height: 20%;
  }
  .transaction-text88 {
    font-size: 6px;
  }
  .transaction-container99 {
    height: 50px;
  }
  .transaction-image27 {
    height: 20%;
  }
  .transaction-text89 {
    font-size: 6px;
  }
  .transaction-container100 {
    height: 50px;
  }
  .transaction-image28 {
    height: 20%;
  }
  .transaction-text90 {
    font-size: 6px;
  }
  .transaction-container101 {
    height: 50px;
  }
  .transaction-image29 {
    height: 20%;
  }
  .transaction-text91 {
    font-size: 6px;
  }
  .transaction-container102 {
    height: 50px;
  }
  .transaction-image30 {
    height: 20%;
  }
  .transaction-text92 {
    font-size: 6px;
  }
  .transaction-container103 {
    height: 8vh;
  }
}
