@keyframes animateSprite {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -4300px 0; /* Adjust the value based on your sprite width and number of frames */
    }
  }
  
  .sprite {
    width: 600px;
    height: 292px;
  }
  